/* .mypage-info-table {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: initial;
} */

.mypage-bottom-bar {
  position: relative;
  top: 30%;
  width: 100%;
  box-align: center;
}

.ant-carousel .slick-slide {
  position: relative;
  border-top: 150px;
  text-align: center;
  height: 300px;
  line-height: 300px;
  color: white;
  overflow: hidden;
}

#hello-writer-info-div,
#hello-writer-user-div {
  padding-top: 5%;
}
