.welcomePage {
    background-color: aliceblue;
    flex: 3;
}

.welcomeBtn {
    color: white;
    background: rgb(240, 174, 185);
    padding: 1rem;
    border: 2px solid whitesmoke;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    line-height: 2;
    margin: 1.5rem;
    text-align: initial;
    position: relative;
    top : 120px;
  }

#welcomeWrite {
    color: rgb(255, 116, 116);
    position: relative;
    top : 60px;
    transition-duration: 2ms;
}